:root {
  --whatsapp-dark-primary: #25d366;
  --whatsapp-dark-secundary: rgb(16, 53, 41);
  --whatsapp-dark-terciary: rgb(217, 253, 211);
  --whatsapp-dark-background: rgb(29, 31, 31);
  --whatsapp-dark-secundary-background: rgb(22, 23, 23);
  --whatsapp-dark-terciary-background: rgb(58, 58, 58);
  --whatsapp-dark-image-background: rgba(58, 58, 58, 0.5);
  --whatsapp-dark-bubble-sent: #005c4b;
  --whatsapp-dark-bubble-received: #202c33;
  --whatsapp-dark-text-primary: #fafafa;
  --whatsapp-dark-text-secondary: rgb(160, 160, 160);

  --font-family: "Roboto Variable", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--whatsapp-background);
  color: var(--whatsapp-text-primary);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--whatsapp-dark-background);
    color: var(--whatsapp-dark-text-primary);
  }
}
