.layoutWrapper {
  display: flex;
  width: calc(100vw - 66px);
  display: flex;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  flex: 0 0 32%;
  min-width: 350px;
  max-width: 430px;

  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  border-right: 1px solid var(--whatsapp-dark-terciary-background);
  background-color: var(--whatsapp-dark-secundary-background);
}

.header {
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.iconsHeader {
  gap: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content {
  flex: 1;
  min-width: 0;
  height: 100%;
  overflow-y: auto;
}

.chatListContainer {
  padding-top: 8px;
  flex: 1;
  overflow-y: auto;

  scrollbar-color: var(--whatsapp-dark-terciary-background) transparent;
}

.chatListContainer::-webkit-scrollbar {
  width: 6px;
}

.chatListContainer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

.chatListContainer::-webkit-scrollbar-track {
  background: transparent;
}

.main {
  flex: 1 1 0;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  background-image: url("https://static.whatsapp.net/rsrc.php/yx/r/voSdkk88H7C.svg");
  background-repeat: repeat;
  background-color: var(--whatsapp-dark-background);
}
